<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base">

<body>

    <!-- Start content -->
    <div class="content" layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-box">
                    <h4 class="page-title">코드 관리</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">KBDHunters</a></li>
                        <li class="breadcrumb-item"><a href="#">시스템 설정</a></li>
                        <li class="breadcrumb-item active">코드 관리</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div id="divCodeTree" class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">코드 관리</h4>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="divCodeInfo" class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">코드 수정</h4>
                </div>
            </div>
        </div>

    </div>
    <!-- end content -->

    <script layout:fragment="script">
        $(document).ready(function () {

            Page.init();
        });

        var Page = {
            init: function () {
                TreeScope.init();
            }
        };

        var TreeScope = {
            target: $("#divCodeTree"),

            init: function () {
                var _this = this; // _codeTreeScope

                treeUtils.init(_this.target, "/api/code/getTree", {
                    param: { lazy: false },
                    click: function (e, clickedNode) {
                    }
                });
            }
        };
    </script>

</body>
</html>