<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base">

<body>

    <!-- Start content -->
    <div class="content" layout:fragment="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">코드 관리</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">KBDHunters</a></li>
                        <li class="breadcrumb-item"><a href="#">시스템 설정</a></li>
                        <li class="breadcrumb-item active">코드 관리</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card-box">
                    코드 트리.
                </div>

            </div>
            <div class="col-lg-6">

            </div>
        </div>

    </div>
    <!-- end content -->

    <script layout:fragment="script">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
        $('.circliful-chart').circliful();
    });

    // BEGIN SVG WEATHER ICON
    if (typeof Skycons !== 'undefined'){
        var icons = new Skycons(
            {"color": "#3bafda"},
            {"resizeClear": true}
            ),
            list  = [
                "clear-day", "clear-night", "partly-cloudy-day",
                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                "fog"
            ],
            i;

        for(i = list.length; i--; )
            icons.set(list[i], list[i]);
        icons.play();
    };

    </script>

</body>
</html>