<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base">

<body>

    <!-- Start content -->
    <div class="content" layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-box">
                    <h4 class="page-title">게시판</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">KBDHunters</a></li>
                        <li class="breadcrumb-item"><a href="#">시스템 설정</a></li>
                        <li class="breadcrumb-item active">게시판 관리</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">게시판</h4>

                    <table class="table">
                        <colgroup>
                            <col width="125px;"/>
                            <col width="*"/>
                            <col width="125px;"/>
                            <col width="125px;"/>
                            <col width="125px;"/>
                            <col width="125px;"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="text-center">카테고리</th>
                            <th class="text-center">제목</th>
                            <th class="text-center">글쓴이</th>
                            <th class="text-center">등록일시</th>
                            <th class="text-center">조회</th>
                            <th class="text-center">추천</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${boardList.size() eq 0}">
                            <td colspan="7" class="text-center">데이터가 존재하지 않습니다.</td>
                        </tr>
                        <tr th:if="${boardList.size() ne 0}" th:each="post : ${boardList}">
                            <!--<td class="text-center" th:text="${post.categoryName}"></td>-->
                            <td th:text="${post.subject}"></td>
                            <td class="text-center" th:text="${post.registerUserNickName}"></td>
                            <td class="text-center" th:text="${#temporals.format(post.registerDate, 'yyyy-MM-dd')}"></td>
                            <td class="text-center" th:text="${post.hitCount}"></td>
                            <td class="text-center" th:text="${post.recommendCount}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <div class="text-center">
                    <button type="button" id="btnRegister" class="btn btn-sm btn-primary waves-effect waves-light">글쓰기</button>
                </div>

            </div>
        </div>

    </div>
    <!-- end content -->

    <script layout:fragment="script">
        $(document).ready(function () {

            Page.init();
        });

        let Page = {

            init: function () {
                BoardScope.init();
            }
        };

        let BoardScope = {

            init: function () {
                let _this = this;

                _this.button.register.on("click", function () {
                    location.href = "/board/boardRegister?conBoardId=B001";
                });
            },

            button: {
                register: $("#btnRegister")
            },

            method: {

                search: function () {

                }
            }
        };
    </script>

</body>
</html>